<div class="main_users">
    <!-- サイドメニュー -->
    <div class="maps_menu">
        <h2 class="menu_title">メニュー</h2>
        <li>
            <%= link_to image_tag("/icon/mypage.png"), "/users/index" %>
            <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
        </li>
        <li>
            <img src="/icon/mypage.png" class="logout_img">
            <%= link_to("ログアウト", "/logout", {method: :post})%>
        </li>
        <li>
            <%= link_to image_tag("/icon/map.png"), "/maps" %>
            <%= link_to( "ペットマップ", "/maps") %>
        </li>
        <li>
            <%= link_to image_tag("/icon/map.png"), "/maps/about" %>
            <%= link_to( "ペットマップとは", "/maps/about") %>
        </li>
        <li>
            <%= link_to image_tag("/icon/suggestion.png"), "/posts/index" %>
            <%= link_to( "提案,意見する", "/posts/index") %>
        </li>
    </div>
    <div class="main_user_index">
        <h1 class="users_title">マイページ</h1>
        <p class="users_contents">あなたのマイページ<p>
        <div class="users_index_item">
            <div class="container">
                <div class="my_user_image">
                    <img src="<%= "/user_images/#{@user.image_name}" %>">
                    <p class="user_name">ユーザ名</p>
                    <h2><%= @user.name %></h2>
                    <p class="user_name">eメール</p>
                    <p><%= @user.email %></p>
                    <p class="user_name">マイルート</p>
                    <div class="routes">
                        <%= @route1.route_name %>
                    </div>
                    <% if @current_user.id == @user.id %>
                        <div class="edit">
                            <%= link_to("編集", "/users/#{@user.id}/edit") %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>