<div class="main_users">
    <!-- サイドメニュー -->
    <div class="maps_menu">
        <h2 class="menu_title">メニュー</h2>
        <% if @current_user %>
            <li>
                <%= link_to image_tag("/icon/mypage.png"), "/users/index" %>
                <%= link_to( "マイページ", "/users/#{@current_user.id}") %>
            </li>
            <li>
                <img src="/icon/mypage.png" class="logout_img">
                <%= link_to("ログアウト", "/logout", {method: :post})%>
            </li>
            <li>
                <%= link_to image_tag("/icon/map.png"), "/maps" %>
                <%= link_to( "ペットマップ", "/maps") %>
            </li>
            <li>
                <%= link_to image_tag("/icon/map.png"), "/maps/about" %>
                <%= link_to( "ペットマップとは", "/maps/about") %>
            </li>
            <li>
                <%= link_to image_tag("/icon/suggestion.png"), "/posts/index" %>
                <%= link_to( "提案,意見する", "/posts/index") %>
            </li>
        <% else %>
                    <li>
                <%= link_to image_tag("/icon/mypage.png"), "/login" %>
                <%= link_to( "ログイン", "/login") %>
            </li>
            <li>
                <%= link_to image_tag("/icon/map.png"), "/maps/about" %>
                <%= link_to( "ペットマップとは", "/maps/about") %>
            </li>
        <% end %>
    </div>
    <div class="main_users_new">
        <h1 class="users_title">アカウント作成</h1>
        <p class="users_contents">あなた専用のアカウントを作成しよう<p>
        <div class="users_new_item">
            <div class="container">
                <div class="form_users_form">
                    <div class="form_body">
                        <% @user.errors.full_messages.each do |message| %>
                        <div class="form_error">
                            <%= message %>
                        </div>
                        <% end %>
                        
                        <%= form_tag("/users/create") do %>
                        <p class="input_title">ユーザー名</p>
                        <input name="name" value="<%= @user.name %>" class="textbox">
                        <p class="input_title">メールアドレス</p>
                        <input name="email" value="<%= @user.email %>" class="textbox">
                        <p class="input_title">パスワード</p>
                        <input type="password" name="password" value="<%= @user.password %>" class="textbox">
                        <input type="submit" value="作成" class="textbutton">
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>